<div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12"></div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card text-center m-5">
            <h5 class="card-header bg-none text-center font-weight-bold">{{ 'CONFIG-USER.TITLE' | translate | uppercase }}</h5>
            <div class="card-body">
                <div class="auto-form-wrapper text-left">
                    <form (ngSubmit)="onSubmit()" [formGroup]="form">

                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">

                                <h6 class="text-muted text-center">{{ 'CONFIG-USER.DATA_PERSONAL' | translate | uppercase }}</h6>

                                <!--NAME-->
                                <div class="form-group">
                                    <label class="label">{{ 'CONFIG-USER.NAME' | translate }}</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="name" required formControlName="name">
                                    </div>
                                </div>
        
                                <!--SURNAME-->
                                <div class="form-group">
                                    <label class="label">{{ 'CONFIG-USER.SURNAME' | translate }}</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="surname" required
                                            formControlName="surname">
                                    </div>
                                </div>
        
                                <!--DOCUMENT-->
                                <div class="form-group">
                                    <label class="label">{{ 'CONFIG-USER.DOCUMENT' | translate }}</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="document" required minlength="9"
                                            maxlength="9" formControlName="document">
                                    </div>
                                </div>

                                <!--BUTTON RESET PASSWORD-->
                                <button class="btn btn-danger submit-btn btn-block mb-5" (click)="resetPassword()"
                                type="button">{{ 'CONFIG-USER.RESET_PASSWORD_BUTTON' | translate | uppercase }}</button>

                            </div>    


                            <div class="col-lg-6 col-md-12 col-sm-12">

                                <h6 class="text-muted text-center">{{ 'CONFIG-USER.DATA_PORCENT' | translate | uppercase }}</h6>
                                <p class="text-muted text-justify"> {{ 'CONFIG-USER.DATA_PORCENT_EXPLICATION' | translate }} </p>

                                <!-- PORCENT PERMANENT -->
                                <div class="form-group">
                                    <label class="label">{{ 'CONFIG-USER.PORCENT_PERMANENT' | translate }} {{porcentPermanent}}</label>
                                    <div class="input-group">
                                        <input type="range" class="custom-range" min="0" max="100" id="porcentPermanent" (change)="changeValuePorcent($event)" formControlName="porcentPaymentPermanent">
                                    </div>
                                </div>

                                <!-- PORCENT PERSONAL -->
                                <div class="form-group">
                                    <label class="label">{{ 'CONFIG-USER.PORCENT_PERSONAL' | translate }} {{porcentPersonal}}</label>
                                    <div class="input-group">
                                        <input type="range" class="custom-range" min="0" max="100" id="porcentPersonal" (change)="changeValuePorcent($event)" formControlName="porcentPaymentPersonal">
                                    </div>
                                </div>

                                <!-- PORCENT SAVING -->
                                <div class="form-group">
                                    <label class="label">{{ 'CONFIG-USER.PORCENT_SAVING' | translate }} {{porcentSaving}}</label>
                                    <div class="input-group">
                                        <input type="range" class="custom-range" min="0" max="100" id="porcentSaving" (change)="changeValuePorcent($event)" formControlName="porcentSaving">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- BOTONS -->
                        <div class="form-group">
                            <button *ngIf="!load" [disabled]="form.invalid" class="btn btn-primary submit-btn btn-block"
                                type="submit">{{ 'CONFIG-USER.CHANGE_PROPERTIES_ACTION' | translate | uppercase }}</button>
                            <button *ngIf="load" [disabled]="form.invalid"
                                class="btn btn-warning submit-btn btn-block">{{ 'COMMONS.IN_PROCESS' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12"></div>
</div>