<div class="row">
    <div class="col-12">

        <!-- FORM FIND -->
        <div class="row">
            <div class="col-lg-5 col-md-5  col-sm-6">
                <app-input-datapicker (newPeriod)="changePeriod($event)" ></app-input-datapicker>
            </div>
            <div class="col-lg-5  col-md-5 col-sm-6">
                <div class="input-group">
                    <select class="form-control" #naturePayment (change)="findByFilter()">
                        <option value="" disabled>{{ 'ADD-PAYMENT.TYPE_DEFEAT' | translate }}</option>
                        <option *ngFor="let nature of natures"> {{ nature }}</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- PAYMENTS -->
        <div class="card">
            <div *ngIf="payments.length > 0" class="card-body">
                <h4 class="card-title text-center"> {{ natureSelect | uppercase }} </h4>
                <table class="table table-borderless table-hover">
                    <thead>
                        <tr>
                            <th *ngFor="let header of headers">{{header.value}}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let payment of payments">
                            <td *ngFor="let header of headers">
                                <div *ngIf="header.key === 'quantity'">
                                    {{payment[header.key] | currency:'EUR'}}
                                </div>
                                <div *ngIf="header.key !== 'quantity'">
                                    {{payment[header.key]}}
                                </div>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td *ngFor="let header of headers"  class="font-weight-bold">
                                <div *ngIf="header.key === 'quantity'">{{ 'PAYMENT.TOTAL' | translate }}
                                    {{sumQuantity | currency:'EUR'}}</div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div *ngIf="payments.length === 0" class="card-body text-center bg-danger text-white align-middle">
                <h4> {{ 'PAYMENT.PAYMENTS_EMPTY' | translate }} <i class="far fa-folder-open"></i></h4>
            </div>
        </div>

    </div>
</div>