<!-- TABLE -->
<!-- FORM FIND -->
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12"></div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="col-lg-4 col-md-8 col-sm-6">
            <app-input-datapicker (newPeriod)="changePeriod($event)"></app-input-datapicker>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="input-group">
                <select class="form-control" #naturePayment (change)="findByFilter()">
                    <option value="" disabled>{{ 'PAYMENT.TYPE_DEFEAT' | translate }}</option>
                    <option *ngFor="let nature of natures"> {{ nature }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12"></div>
</div>
<div class="row">
    <div class="col-lg-1 col-md-12 col-sm-12"></div>
    
    <!-- PAYMENTS -->
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card">
            <div *ngIf="payments.length > 0" class="card-body">
                
                <h4 class="card-title text-center font-weight-bold color-corporative"> {{ natureSelectValue | uppercase }} </h4>
                <app-table-crud-payment
                [payments]="payments" 
                [headers]="headersPayment"
                [categories]="allCategories"></app-table-crud-payment>
                
            </div>
            <div *ngIf="payments.length === 0" class="card-body text-center bg-danger text-white align-middle">
                <h4> {{ 'PAYMENT.PAYMENTS_EMPTY' | translate }} <i class="far fa-folder-open"></i></h4>
            </div>
        </div>
    </div>

    <!-- CATEGORIES -->
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
            <div *ngIf="allCategories.length > 0" class="card-body">
                
                <h4 class="card-title text-center font-weight-bold color-corporative"> {{ 'CATEGORY.CATEGORY_TITLE' | translate | uppercase }} </h4>
                <app-table-crud-category
                [categories]="allCategories" 
                [headers]="headersCategory"></app-table-crud-category>
                
            </div>
            <div *ngIf="payments.length === 0" class="card-body text-center bg-danger text-white align-middle">
                <h4> {{ 'CATEGORY.CATEGORIES_EMPTY' | translate }} <i class="far fa-folder-open"></i></h4>
            </div>
        </div>
    </div>

    <div class="col-lg-1 col-md-12 col-sm-12"></div>
</div>
<div class="row">
    <!-- CHART PAYMENTS -->
    <div class="col-lg-2 col-md-12 col-sm-12"></div>

    <div class="col-lg-8 col-md-12 col-sm-12" *ngIf="payments.length > 0">
        <div class="col-12 p-5">
            <div class="card">
                <div class="card-body">
                    <p-fieldset [legend]="titleGeneral" [toggleable]="true">
                        <div style="display: block">
                            <canvas baseChart   
                                    [datasets]="barChartData" 
                                    [labels]="barChartLabels"
                                    [options]="barChartOptions" 
                                    [plugins]="barChartPlugins" 
                                    [legend]="barChartLegend"
                                    [chartType]="barChartType">
                            </canvas>
                        </div>
                    </p-fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12"></div>
</div>
<div class="row ml-1 mt-3" *ngIf="payments.length > 0">
    <!-- CHART DOUGHNUT -->
    <div class="col-lg-2 col-md-12 col-sm-12"></div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <p-fieldset [legend]="titleExpenditure" [toggleable]="true">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div style="display: block">
                            <canvas baseChart 
                                    [data]="doughnutChartData" 
                                    [labels]="doughnutChartLabels" 
                                    chartType="doughnut">
                            </canvas>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="muted"> {{ reportPayments }} </p>
                    </div>
                </p-fieldset>
            </div>
        </div>

    </div>
    <div class="col-lg-2 col-md-12 col-sm-12"></div>
</div>