<div class="row">
    <div class="col-12">

        <!-- PAYMENTS GAINS -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center"> {{ 'PAYMENT.GAIN_TITLE' | translate }} </h4>
                <table class="table table-borderless table-hover">
                    <thead>
                        <tr>
                            <th *ngFor="let header of headers">{{header.value}}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let payment of paymentsGain">
                            <td *ngFor="let header of headers">
                                <div *ngIf="header.key === 'quantity'">
                                    {{payment[header.key] | currency}}
                                </div>
                                <div *ngIf="header.key !== 'quantity'">
                                    {{payment[header.key]}}
                                </div>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td *ngFor="let header of headers"  class="font-weight-bold">
                                <div *ngIf="header.key === 'quantity'">{{ 'PAYMENT.TOTAL' | translate }}
                                    {{sumQuantityGain | currency}}</div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <!-- PAYMENTS EXPENDITURE -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center"> {{ 'PAYMENT.EXPENDITURE_TITLE' | translate }} </h4>
                <table class="table table-borderless table-hover">
                    <thead>
                        <tr>
                            <th *ngFor="let header of headers">{{header.value}}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let payment of paymentsExpenditure">
                            <td *ngFor="let header of headers">
                                <div *ngIf="header.key === 'quantity'">
                                    {{payment[header.key] | currency}}
                                </div>
                                <div *ngIf="header.key !== 'quantity'">
                                    {{payment[header.key]}}
                                </div>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td *ngFor="let header of headers" class="font-weight-bold">
                                <div *ngIf="header.key === 'quantity'">{{ 'PAYMENT.TOTAL' | translate }}
                                    {{sumQuantityExpenditure | currency}}</div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>