<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center">
        <div class="card mb-3" width="50%">
            <div class="row no-gutters">
                <img src="../../../../assets/images/add.category.jpg" class="card-img-top" alt="add-category">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">
                        {{ 'UPDATE-CATEGORY.TITLE' | translate | uppercase }} </h5>
                    <div class="card-text">
                        <form (ngSubmit)="onSubmit()" [formGroup]="form">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <!--NATURE MOV-->
                                        <label class="label">{{ 'UPDATE-CATEGORY.NATURE_MOV' | translate }}</label>
                                        <div class="input-group">
                                            <select class="form-control" formControlName="nature">
                                                <option value="" disabled>{{ 'UPDATE-CATEGORY.NATURE_DEFEAT' | translate }}
                                                </option>
                                                <option *ngFor="let nature of natures"> {{ nature }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-4"></div>

                                    <div class="col-4">
                                        <!--TYPE MOV-->
                                        <label class="label">{{ 'UPDATE-CATEGORY.TYPE_MOV' | translate }}</label>
                                        <div class="input-group">
                                            <select class="form-control" formControlName="type">
                                                <option value="" disabled>{{ 'UPDATE-CATEGORY.TYPE_DEFEAT' | translate }}
                                                </option>
                                                <option *ngFor="let type of types"> {{ type }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <!--DESC-->
                                        <label class="label">{{ 'UPDATE-CATEGORY.DESCRIPTION' | translate }}</label>
                                        <div class="input-group">
                                            <textarea class="form-control" name="description"
                                                formControlName="description" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- BOTONS -->
                            <div class="form-group">
                                <button *ngIf="loaded" [disabled]="form.invalid"
                                    class="btn btn-danger submit-btn btn-block"
                                    type="submit">{{ 'UPDATE-CATEGORY.SUBMIT_UPDATE' | translate | uppercase }}</button>
                                <button *ngIf="!loaded" [disabled]="form.invalid"
                                    class="btn btn-warning submit-btn btn-block">{{ 'COMMONS.IN_PROCESS' | translate }}
                                    <div class="spinner-grow" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-light mr-1" routerLink="/categories"><i class="fas fa-undo"></i>
        </button>
    </div>
</div>