<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12"></div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <!--CONTENT-->

        <!--SELECT YEAR-->
        <h5>{{ 'STATISTICS-PAYMENT.YEAR' | translate }}</h5>
        <div class="input-group">
            <select class="form-control" (change)="changeYear($event)">
                <option value="" disabled>{{ 'STATISTICS-PAYMENT.YEAR_DEFAULT' | translate }}
                </option>
                <option *ngFor="let year of years"> {{ year }}</option>
            </select>
        </div>

        <!--OBJECTIVE-->
        <h4 class="card-title text-center font-weight-bold color-corporative"> {{ 'STATISTICS-PAYMENT.OBJECTIVE' | translate | uppercase }}</h4>
        <table class="table table-borderless table-hover mt-5">
            <thead>
                <tr>
                    <th *ngFor="let header of headersObjective">{{header.value}}</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td *ngFor="let header of headersObjective">
                        {{objectiveValue[header.key] | currency:'EUR'}}
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br><br>

        <!--REAL-->
        <h4 class="card-title text-center font-weight-bold color-corporative"> {{ 'STATISTICS-PAYMENT.REAL' | translate | uppercase }}</h4>
        <p-table [columns]="headersReal" [value]="realValues" selectionMode="single" [(selection)]="selectedRealValue" dataKey="period">
            <ng-template pTemplate="caption">
                <div class="ui-table-globalfilter-container text-right">
                    <!--EXPORT-->
                    <button type="button" (click)="exportExcel()" style="margin-right: 0.5em; margin-left:5em;" class="btn btn-success">
                        <i class="pi pi-file-excel"></i>
                    </button>
                    <button type="button" (click)="exportPdf()" class="btn btn-danger">
                        <i class="pi pi-file-pdf"></i>
                    </button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        <div *ngIf="col.field === 'period'; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>{{rowData[col.field]}}</ng-template>
                        <ng-template #elseBlock>{{rowData[col.field] | currency:'EUR'}}</ng-template>
                        
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div style="text-align: justify">{{generateReportsByMonth()}}</div>
            </ng-template>
        </p-table>

    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 text-right">
        <button type="button" class="btn btn-light mr-1" routerLink="/"><i class="fas fa-arrow-left"></i></button>
    </div>
</div>