<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12"></div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <!--CONTENT-->

        <!--SELECT YEAR-->
        <h5>{{ 'STATISTICS-PAYMENT.YEAR' | translate }}</h5>
        <div class="input-group">
            <select class="form-control" (change)="changeYear($event)">
                <option value="" disabled>{{ 'STATISTICS-PAYMENT.YEAR_DEFAULT' | translate }}
                </option>
                <option *ngFor="let year of years"> {{ year }}</option>
            </select>
        </div>

        <!--OBJECTIVE-->
        <h4 class="card-title text-center font-weight-bold color-corporative"> {{ 'STATISTICS-PAYMENT.OBJECTIVE' | translate | uppercase }}</h4>
        <table class="table table-borderless table-hover mt-5">
            <thead>
                <tr>
                    <th *ngFor="let header of headersObjective">{{header.value}}</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td *ngFor="let header of headersObjective">
                        {{objectiveValue[header.key] | currency:'EUR'}}
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>
        <br>

        <!--REAL-->
        <h4 class="card-title text-center font-weight-bold color-corporative"> {{ 'STATISTICS-PAYMENT.REAL' | translate | uppercase }}</h4>
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th *ngFor="let header of headersReal">{{header.value}}</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let realItem of realValues">
                    <td *ngFor="let header of headersReal">
                        <div *ngIf="header.key === 'period'">
                            {{realItem[header.key]}}
                        </div>
                        <div *ngIf="header.key !== 'period'" 
                        [ngClass]="{
                            'text-success': realItem[header.key] > 0,
                            'text-danger': realItem[header.key] < 0
                          }">
                            {{realItem[header.key] | currency:'EUR'}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 text-right">
        <button type="button" class="btn btn-light mr-1" routerLink="/"><i class="fas fa-arrow-left"></i></button>
    </div>
</div>