<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12"></div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <!--CONTENT-->

        <!--SELECT YEAR-->


        <!--OBJECTIVE-->
        <h4 class="card-title text-center font-weight-bold"> {{ 'STATISTICS-PAYMENT.OBJECTIVE' | translate | uppercase }}</h4>
        <table class="table table-borderless table-hover mt-5">
            <thead>
                <tr>
                    <th *ngFor="let header of headersObjective">{{header.value}}</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td *ngFor="let header of headersObjective">
                        {{objectiveValue[header.key] | currency:'EUR'}}
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>

        <!--REAL-->
        <h4 class="card-title text-center font-weight-bold"> {{ 'STATISTICS-PAYMENT.REAL' | translate | uppercase }}</h4>
        <table class="table table-borderless table-hover mt-5">
            <thead>
                <tr>
                    <th *ngFor="let header of headersReal">{{header.value}}</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let realItem of realValues">
                    <td *ngFor="let header of headersReal">
                        <div *ngIf="header.key === 'period'">
                            {{realItem[header.key]}}
                        </div>
                        <div *ngIf="header.key !== 'period'" 
                        [ngClass]="{
                            'text-success': realItem[header.key] > 0,
                            'text-danger': realItem[header.key] < 0
                          }">
                            {{realItem[header.key] | currency:'EUR'}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 text-right">
        <button type="button" class="btn btn-light mr-1" routerLink="/"><i class="fas fa-undo"></i>
        </button>
    </div>
</div>