<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12"></div>
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card text-center m-5">
            <h5 class="card-header bg-none text-center font-weight-bold">{{ 'CONFIG-USER.TITLE_RESET_PASSWORD' | translate | uppercase }}</h5>
            <div class="card-body">
                <div class="auto-form-wrapper text-left">
                    <form (ngSubmit)="onSubmit()" [formGroup]="form">

                                <!--EMAIL-->
                                <div class="form-group">
                                    <label class="label">{{ 'CONFIG-USER.EMAIL' | translate }}</label>
                                    <div class="input-group">
                                        <input type="email" class="form-control" name="email" required #emailInput disabled formControlName="email">
                                    </div>
                                </div>
        
                                <!--OLD PASSWORD-->
                                <div class="form-group">
                                    <label class="label">{{ 'CONFIG-USER.OLD_PASSWORD' | translate }}</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="oldPassword" required
                                            formControlName="oldPassword">
                                    </div>
                                </div>
        
                                <!--NEW PASSWORD-->
                                <div class="form-group">
                                    <label class="label">{{ 'CONFIG-USER.NEW_PASSWORD' | translate }}</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="newPassword" required
                                            formControlName="newPassword">
                                    </div>
                                </div>

                                <!--REPEAT NEW PASSWORD-->
                                <div class="form-group">
                                    <label class="label">{{ 'CONFIG-USER.REPEAT_NEW_PASSWORD' | translate }}</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="repeatNewPassword" required
                                            formControlName="repeatNewPassword">
                                    </div>
                                </div>

                        <!-- BOTONS -->
                        <div class="form-group">
                            <button *ngIf="!load" [disabled]="form.invalid" class="btn btn-primary submit-btn btn-block"
                                type="submit">{{ 'CONFIG-USER.RESET_PASSWORD_ACTION' | translate }}</button>
                            <button *ngIf="load" [disabled]="form.invalid"
                                class="btn btn-warning submit-btn btn-block">{{ 'COMMONS.IN_PROCESS' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12"></div>
</div>