<p-table #dt [columns]="headers" [value]="categories" selectionMode="single" [(selection)]="itemSelect" (onRowSelect)="onRowSelect()" [paginator]="true" [rows]="5">
    <ng-template pTemplate="caption">
        <div class="ui-table-globalfilter-container">
            <!--FINDER-->
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" [placeholder]="placeholderFinder" />
            <button type="button" (click)="exportExcel()" style="margin-right: 0.5em; margin-left:5em;" class="btn btn-success">
                <i class="pi pi-file-excel"></i>
            </button>
            <button type="button" (click)="exportPdf()" class="btn btn-danger">
                <i class="pi pi-file-pdf"></i>
            </button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" class="text-center" [pSortableColumn]="col.field">
                {{col.header}}
                <div *ngIf="col.field !== 'operations'">
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <div *ngIf="col.field === 'nature' || col.field === 'type'; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>{{translateColumn(rowData[col.field], col.field)}}</ng-template>
                    <ng-template #elseBlock>{{rowData[col.field]}}</ng-template>
                <div *ngIf="col.field === 'operations'" class="text-center">
                    <button type="button" class="btn btn-danger mr-1 buttons-actions" (click)="deleteCategory(rowData)"><i class="far fa-trash-alt"></i></button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:center">
            <button type="button" class="btn btn-success mr-1 buttons-actions" (click)="showDialogToAdd()">
                <i class="fas fa-plus-circle"></i>{{ 'COMMONS.ADD_OPERATION_TITLE' | translate }}
            </button>
        </div>
    </ng-template>    
</p-table>



<!--DIALOG ACTION-->
<p-dialog [(header)]="titleDialog" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true">
    <form (ngSubmit)="actionDialog()" [formGroup]="itemDialog">

        <div class="form-group">
            <div class="row">
                <div class="col-8">
                    <!-- ARREGLAR EL MUESTREO DE NATURE Y TYPE -->
                    <!--NATURE MOV-->
                    <label class="label">{{ 'OPERATION-CATEGORY.NATURE_MOV' | translate }}</label>
                    <div class="input-group">
                        <select class="form-control" [attr.disabled]="newElement ? null : ''" formControlName="nature">
                            <option value="" disabled>{{ 'OPERATION-CATEGORY.NATURE_DEFEAT' | translate }}
                            </option>
                            <option [value]="nature.key" *ngFor="let nature of natures"> {{ nature.value }}</option>
                        </select>
                    </div>

                    <!--TYPE MOV-->
                    <label class="label">{{ 'OPERATION-CATEGORY.TYPE_MOV' | translate }}</label>
                    <div class="input-group">
                        <select class="form-control" [attr.disabled]="newElement ? null : ''" formControlName="type">
                            <option value="" disabled>{{ 'OPERATION-CATEGORY.TYPE_DEFEAT' | translate }}
                            </option>
                            <option [value]="type.key" *ngFor="let type of types"> {{ type.value }}</option>
                        </select>
                    </div>

                    <!--DESC-->
                    <label class="label">{{ 'OPERATION-CATEGORY.DESCRIPTION' | translate }}</label>
                    <div class="input-group">
                        <textarea class="form-control" name="description"
                        formControlName="description" rows="3"></textarea>
                    </div>

                </div>
            </div>
        </div>
        <p-footer>
            <div class="text-center">
                <button type="submit" [disabled]="itemDialog.invalid" class="btn btn-success mr-5" icon="pi pi-check" >{{buttonAction | uppercase}}</button>
                <button type="button" class="btn btn-danger" icon="pi pi-times" (click)="hiddenDialog()" >{{buttonCancel | uppercase}}</button>
            </div>
        </p-footer>
    </form>
</p-dialog>
