<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-lg-4">
            <img src="../../../../assets/images/add-payment.jpg" class="card-img" alt="add-payment">
        </div>
        <div class="col-lg-8">
            <div class="card-body">
                <h5 class="card-title text-center"> {{ 'ADD-PAYMENT.TITLE' | translate }} </h5>
                <div class="card-text">
                    <form (ngSubmit)="onSubmit()" [formGroup]="form">

                        <div class="form-group">
                            <!--NATURE MOV-->
                            <label class="label">{{ 'ADD-PAYMENT.NATURE_MOV' | translate }}</label>
                            <div class="input-group">
                                <select class="form-control" formControlName="nature">
                                    <option value="" disabled>{{ 'ADD-PAYMENT.NATURE_DEFEAT' | translate }}</option>
                                    <option *ngFor="let nature of natures"> {{ nature }}</option>
                                </select>
                            </div>
                            
                            <!--TYPE MOV-->
                            <label class="label">{{ 'ADD-PAYMENT.TYPE_MOV' | translate }}</label>
                            <div class="input-group">
                                <select class="form-control" formControlName="type">
                                    <option value="" disabled>{{ 'ADD-PAYMENT.TYPE_DEFEAT' | translate }}</option>
                                    <option *ngFor="let type of types"> {{ type }}</option>
                                </select>
                            </div>

                            <!--DESC-->
                            <label class="label">{{ 'ADD-PAYMENT.DESCRIPTION' | translate }}</label>
                            <div class="input-group">
                                <textarea class="form-control" name="description" formControlName="description" rows="3"></textarea>
                            </div>

                            <!-- QUANTITY -->
                            <label class="label">{{ 'ADD-PAYMENT.QUANTITY' | translate }}</label>
                            <div class="input-group">
                                <input type="number" class="form-control" name="password" required
                                formControlName="quantity">
                            </div>

                            <!-- PERIOD -->
                            <label class="label">{{ 'ADD-PAYMENT.PERIOD' | translate }}</label>
                            <div class="input-group" width='25%'>
                                <igx-month-picker formControlName="period"></igx-month-picker>
                            </div>
                        </div>

                        <!-- BOTONS -->
                        <div class="form-group">
                            <button *ngIf="loaded" [disabled]="form.invalid" class="btn btn-danger submit-btn btn-block"
                                type="submit">{{ 'ADD-PAYMENT.SUBMIT_ADD' | translate }}</button>
                            <button *ngIf="!loaded" [disabled]="form.invalid"
                                class="btn btn-warning submit-btn btn-block">{{ 'COMMONS.IN_PROCESS' | translate }}
                                <div class="spinner-grow" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>