<div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12"></div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-lg-3">
                    <img src="../../../../assets/images/add-payment.jpg" class="card-img" alt="add-payment">
                </div>
                <div class="col-lg-9">
                    <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold">
                            {{ 'ADD-PAYMENT.TITLE' | translate | uppercase }} </h5>
                        <div class="card-text">
                            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <!--CATEGORIES MOV-->
                                            <label class="label">{{ 'ADD-PAYMENT.CATEGORY' | translate }}</label>
                                            <div class="input-group">
                                                <select class="form-control" (change)="changeCategory()"
                                                    formControlName="category">
                                                    <option value="" disabled>
                                                        {{ 'ADD-PAYMENT.CATEGORY_DEFEAT' | translate }}
                                                    </option>
                                                    <option *ngFor="let category of categories">
                                                        {{ category.description }}</option>
                                                </select>
                                            </div>

                                            <!-- QUANTITY -->
                                            <label class="label">{{ 'ADD-PAYMENT.QUANTITY' | translate }}</label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" name="quantity" required
                                                    formControlName="quantity">
                                            </div>

                                        </div>

                                        <div class="col-8">
                                            <!-- PERIOD -->
                                            <label class="label">{{ 'ADD-PAYMENT.PERIOD' | translate }}</label>
                                            <div class="input-group" width='25%'>
                                                <igx-month-picker formControlName="period"></igx-month-picker>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- BOTONS -->
                                <div class="form-group">
                                    <button *ngIf="loaded" [disabled]="form.invalid"
                                        class="btn btn-danger submit-btn btn-block"
                                        type="submit">{{ 'ADD-PAYMENT.SUBMIT_ADD' | translate | uppercase }}</button>
                                    <button *ngIf="!loaded" [disabled]="form.invalid"
                                        class="btn btn-warning submit-btn btn-block">{{ 'COMMONS.IN_PROCESS' | translate }}
                                        <div class="spinner-grow" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 text-right">
        <button type="button" class="btn btn-light mr-1" routerLink="/"><i class="fas fa-undo"></i>
        </button>
    </div>
</div>