<!-- CHART PAYMENTS -->
<div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12"></div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="col-12 p-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold text-center color-corporative">
                        {{ 'HISTORY-PAYMENT.TITLE' | translate | uppercase }}
                    </h5>
                    <div style="display: block">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 text-right">
        <button type="button" class="btn btn-light mr-1" routerLink="/"><i class="fas fa-arrow-left"></i></button>
    </div>
</div>