<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/"> {{ 'NAVBAR.TITLE' | translate }} </a>
    <!-- TOGLE MENU -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdownMenu"
        aria-controls="dropdownMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="dropdownMenu">
        <ul class="navbar-nav">
            <!-- PAYMENTS -->
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownPayments" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'NAVBAR.PAYMENT' | translate }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownPayments">
                  <a class="dropdown-item" routerLink="/"> <i class="fas fa-money-check-alt"></i> {{ 'NAVBAR.PAYMENTS' | translate }} </a>
                  <a class="dropdown-item" routerLink="/add-payments"> <i class="fas fa-hand-holding-usd"></i> {{ 'NAVBAR.ADD_PAYMENT' | translate }} </a>
                  <a class="dropdown-item" routerLink="/statistics"> <i class="fas fa-chart-line"></i> {{ 'NAVBAR.STATISTICS' | translate }} </a>
                </div>
            </li>
            <!-- CATEGORIES -->
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownCategories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'NAVBAR.CATEGORY' | translate }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownCategories">
                    <a class="dropdown-item" routerLink="/categories"> <i class="fas fa-tag"></i> {{ 'NAVBAR.CATEGORIES' | translate }} </a>
                    <a class="dropdown-item" routerLink="/add-categories"> <i class="fas fa-plus"></i><i class="fas fa-tags"></i> {{ 'NAVBAR.ADD_CATEGORY' | translate }} </a>
                </div>
            </li>
            <!-- USUARIO -->
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'NAVBAR.USER' | translate }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownUser">
                    <a class="dropdown-item" routerLink="/config-user"> <i class="fas fa-sliders-h"></i> {{ 'NAVBAR.SETTINGS' | translate }} </a>
                    <a class="dropdown-item" style="cursor: pointer;" (click)="signOut()"> <i class="fas fa-sign-out-alt"></i> {{ 'NAVBAR.SIGN_OUT' | translate }} </a>
                </div>
            </li>
        </ul>
    </div>
</nav>