<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"> {{ 'FOOTER.COPIRIGHT' | translate }} </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> {{ 'FOOTER.CREATE_BY' | translate }}
            <a href="https://me.iculum.com/jesussuarez" target="_blank">Jesús Suárez López</a>.
        </span>
        <br>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> {{ 'FOOTER.IDEA_BY' | translate }}
            <a href="#" target="_blank">Antonio Díaz Martínez</a>.
        </span>
    </div>
</footer>