/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input, select, textarea {
    border: none !important;
    border-bottom: 1px solid black !important;
}

.buttons-actions {
    border-radius: 50% !important;
}

.bg-none {
    background: none  !important;
}

.input-none-border-button {
    border-bottom: none !important;
}

.navbar-corporative {
    background-color: #99cc99!important;
    border: none;
}

.color-corporative {
    color: #99cc99!important;
}

.item-navbar {
    color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler .navbar-toggler {
    border-color: rgb(255,102,203);
}

.no-border {
    border: none !important;
}

.no-bg:hover {
    background-color: transparent !important;
}

.navbar-brand {
    margin-right: -5% !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.navbar-light .navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent !important;
    border-bottom: none;
}

* {
    font-family: Muli;
}

h1, h2, h3, h4, h5 {
    font-family: Oswald !important;
}