/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input, select, textarea {
    border: none !important;
    border-bottom: 1px solid black !important;
}

.buttons-actions {
    border-radius: 50% !important;
}

.bg-none {
    background: none  !important;
}

.input-none-border-button {
    border-bottom: none !important;
}
