<!-- PAYMENTS -->
<div class="card">
    <div *ngIf="categories.length > 0" class="card-body">
        <h4 class="card-title text-center font-weight-bold"> {{ 'CATEGORY.CATEGORY_TITLE' | translate | uppercase }} </h4>
        <table class="table table-bordeless table-hover mt-5">
            <thead>
                <tr>
                    <th *ngFor="let header of headers">{{header.value}}</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let category of categories">
                    <td *ngFor="let header of headers">
                        <div *ngIf="header.key !== 'operations'">
                            {{category[header.key]}}
                        </div>
                        <div *ngIf="header.key === 'operations'" class="text-center">
                            <button type="button" class="btn btn-danger mr-1 buttons-actions" (click)="deleteCategory(category)"><i class="far fa-trash-alt"></i></button>
                            <button type="button" class="btn btn-warning mr-1 buttons-actions" (click)="updateCategory(category)"><i class="far fa-edit"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="categories.length === 0" class="card-body text-center bg-danger text-white align-middle">
        <h4> {{ 'CATEGORY.CATEGORIES_EMPTY' | translate }} <i class="far fa-folder-open"></i></h4>
    </div>
</div>